body {
    font-family: monospace;
}


ul {
    font-family: helvetica;
}
a {
  text-decoration: none;
  color: #0066CC;
}
h3 {
    text-align: left;
    font-size: 2vw; 
    text-indent: 10px;
}
h1::selection {
    background: #0ABAB5;
}
h2::selection {
    background: #0ABAB5;
}

p::selection{
    background: #0ABAB5;
}

.text::selection{
    background: #0ABAB5;
}
#intro {
    background-color: #003366;
    color:#FFFF;
    height:280px;
    padding:20px 20px 10px 20px;
    width:100%;
}
#jobs {
    background-color: #D8D8D8 ;
    color:#000;
    height: 500px;
    width:100%;
}
#jobs2 {
  background-color: #D8D8D8 ;
  color:#000;
  height: 400px;
  width:100%;
}
#activities {
    background-color: #D8D8D8 ;
    color:#000;
    height:1000px;
    width:100%;
}

#certificates {
  background-color: #D8D8D8 ;
  color:#000;
  height: 1000px;
  width:100%;
}
#skills {
  background-color: #D8D8D8 ;
  color:#000;
  height: 1000px;
  width:100%;
}
#works {
  background-color: #D8D8D8 ;
  color:#000;
  height: 4500px;
  width:100%;
  
}

.project {
  background-color: #D8D8D8 ;
  color:#000;
  height:500px;
  width: 55%;
  padding:0 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin:0px auto;
  position:relative;
  top:3vw;
  z-index:1;
  
}
.subproject{
  background-color:#2980b9;
  color:#000;
  height:500px;
  width: 50%;
  float:right;
  position:relative;
  z-index:2;
}


#navbar {
  background-color: #4682B4; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index:9999;
}

/* Style the navbar links */
/*menu*/
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size:18px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/*工作的動畫*/ 
  .container1 {
    position:relative;
    width: 30%;
    float: left;
    top:3vw;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 30%;
    height: 30%;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: auto;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align:center;
  }
  
  .container1:hover .image {
    opacity:0.1;
  }
  .container1:hover .middle {
    opacity:1;
}

  .text1 {
    color: black;
    font-size: 1.2vw;
    padding: 10px 10px;
    text-align: center;
    font-family: Microsoft JhengHei;
  }
p {
    text-align: center;
    font-size: large;
    font-family: Microsoft JhengHei;
}

/*activities*/
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; 
}

/* Position the "next button" to the right */
.prev {
  left: 22%;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 22%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color:#ADD8E6;
}*/


/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color:white;
  width:55%;
  margin:auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 9%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.text{
  font-size:1.5vw;
  text-align: center;
  background-color: #ADD8E6;
  width:55%;
  margin:auto;

}

/* 專業證照 */
/* Float four columns side by side */
.column2 {
  float: left;
  width: 20%;
  height:200px;
  padding: 0 1vw;
  position:relative; 
  top:3vw
  
}

.row2 {margin: 0 -5px;}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #4682B4;
  color: white;
}

.fa {font-size:50px;}
/* 能力 */
.container2{
  width: 80%;
  margin: 0 auto;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 7px;
  border-radius: 30px;
  margin-bottom: 10px;
  font-size: 28px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #98FB98;
}
.bar.back::before{
  background-color: #a6cfe3;
}

.bar.learning::before{
  width: calc(10% - 10px);
}
.bar.basic::before{
  width: calc(30% - 10px);
}
.bar.intermediate::before{
  width: calc(50% - 10px);
}
.bar.advanced::before{
  width: calc(70% - 10px);
}
.bar.expert::before{
  width: calc(90% - 10px);

}.bar.fluent::before{
  width: calc(90% - 10px);
}
